/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



html{
	font-size: calc(14px + (30 - 14) * ((100vw - 360px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

body {
	background-color: #fff;
	color: #5a646f;
	font-family: 'Montserrat', sans-serif;
	
}




/* HEADER NAV */

.nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(34, 72, 106, 0.8);
	background-image:  linear-gradient(
      rgba(50, 150, 250, 0.5), 
      rgba(215, 146, 146, 0.5)
    ),url(../img/close-up-dark-dark-green-1228133.jpg);
 	background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2.5vh; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


svg {
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5vh;
}


#portrait h3{
	text-align:center;
	padding-top: 2.5vh;
	margin-left: 8vw;
	font-size: 1.5vw;
}

button {
	background-color: transparent;
	border: none;
	font-family: 'Roboto', sans-serif;
	color:#d79292;
	font-size: 1.5;
	
}

#openNav, #closeNav {
	display: none;
}

#openNavMobile {
	margin-right: 1.5vw;
	padding-left: 3vw;
	padding-top: 1.5vh;
	font-size: 3.5vw;
	
}

/* The navigation menu links */
.nav a {
    padding: 0.5vh 0 5vh 1.8vw;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
	text-align-last: center;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
}

/* When you mouse over the navigation links, change their color */
.nav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.nav .closebtn{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 36px;
}

button :hover {
    color: #f1f1f1;
}


.navGrid {
	grid-template-columns: 16.6vh 16.6vh 16.6vh;
	grid-template-rows: 20vh 25vh 15vh 15vh 15vh 5vh;
	grid-template-areas: 
		"header header header"
		"about about about "
		". work1 ."
		". work2 ."
		". work3 ."
		". port1 ."
		". port2 ."
		". port3 ."
		"footer footer footer";
}


.gridLayout {
	display: grid;
	grid-template-columns: 99.5vw;
	grid-template-rows: 98vh 70vh repeat(6, 60vh) 20vh;
	grid-template-areas: 
		"header"
		"about"
		"work1"
		"work2"
		"work3"
		"port1"
		"port2"
		"port3"
		"footer";
}


/* END HEADER NAV */



/** MAIN HEADER **/

.hero {
	background-image: linear-gradient(rgba(34, 72, 106, 0.6), rgba(0, 0, 0, 0.6)), url("../img/blur-bottle-bright-273238.jpg");
	background-position:bottom;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	height: 95vh;
	width: 95vw;
	margin-left: 2vw;
	margin-top: 3vh;
	grid-area: header;
}

header #mainHeader{
	text-align: center;
}

h2, h3 {
	font-family: 'Roboto', sans-serif;
}

header h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 4.5vw;
	font-weight: 200;
	line-height: 10vh;
}

/***
header h3 {
	padding-top: 1.5vh;
	padding-left: 4vw;
	line-height: 3.2vh;
	font-size: 2vw;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;;
	color: #f5eba7;
}***/

.front {
	color:rgba(215, 146, 146);
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

.heroText {
	margin-left: 40vw;
	margin-top: 20vh;
	
}

.name{
	color:rgb(255,255,255);
	font-weight: 700;
	 margin-left: 4vw;
}


/** job title text 
.jobTitle { 
	color: #d79292;
	font-family: 'Roboto', sans-serif;
	front-weight: 400;
	font-size: 1.2vw;
	
} **/

/** END MAIN HEADER **/



/****** ABOUT */

#about .full-width  {
	height: auto;
}

#about{
	grid-area: about;
	justify-self: center;
	margin-right: 0.8vw;
	
}

#about h2 {
	color: #d79292;
	padding-left: 2vw;
}

#about p{
	font-size: 1.5vw;
	text-align: justify;
	padding: 0 2.5vw;
}


#work .full-width  {
	height: auto;
	
}


#html, #css, #design {
	justify-self: center;
	justify-items: stretch;
}

#html{
	grid-area: work1;
}

#css {
	grid-area: work2;
}

#design {
	grid-area: work3;
	
	
}

.third-width {
	margin-top: 1.5vh;
	padding-bottom: 10vh;
	height: 45vh;
	background-color: #fdccb4;
	width: 35vw;
	border: 1px solid #fff;
}

.third-width p {
	font-size: 1.2vw;
	text-align: justify;
	padding-left: 6.5vw;
	
}

.third-width h3 {
	font-size: 2vw;
	text-align: center;
	
}



.third-width2 {
	margin-top: 1.5vh;
	padding-bottom: 10vh;
	height: 45vh;
}

.third-width2 h3 {
	font-size: 2vw;
	text-align: center;
	
}


#port1 {
	grid-area: port1;
	
}

#samsung {
	background-image: url(../img/samsung.png);
	padding: 30vh 0 10vw 0;
	background-position: center;
	background-repeat: no-repeat;
}

#port2 {
	grid-area: port2;
}

#unplugged {
	background-image:url(../img/unplugged.png);
	padding: 30vh 0 10vw 0;
	background-position: center;
	background-repeat: no-repeat;
}

#port3 {
	grid-area: port3;
	margin-bottom: 18vh;
}

#spiritedAway {
	background-image:url(../img/spirited-away.png);
	padding: 30vh 0 10vw 0;
	background-position: center;
	background-repeat: no-repeat;
}

footer {
	top: 30vh;
}

#contact {
	grid-area: footer;
	background-color: #5a646f;
}

#contact .full-width {
	justify-self: center;
	grid-column-start: c2;
}

#contact-info{
	margin-left: 38.5%;
	margin-top: 1.5%;
}

#contact a{
	text-decoration: none;
	padding: 0 2.5%;
}

a:link, a:visited, a:active {
    color: #fff;
}

/* mouse over link */
a:hover {
    color: #d79292;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media only screen and (min-width:940px) {
    /* DESKTOP */
	
	
	.gridLayout {
    transition: margin-left .5s;
	display: grid;
	justify-items: stretch;
	grid-template-columns: [c1]2vw [c2]31.6vw [c3]31.6vw [c4]31.6vw [c5]2vw;
	grid-template-rows: [r1]98.5vh [r2]80vh [r3]70vh [r4]80vh [r5]8.5vh;
	grid-template-areas: 
		"header header header header header"
		". about about about ."
		". work1 work2 work3 ."
		". port1 port2 port3 ."
		"footer footer footer footer footer";
}
	
	.nav #closeNav{
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 36px;
}
	
	#openNavMobile, #closeNavMobile{
		display:none;
	}	
	
#openNav {
	display: contents;
	margin-left: 3vw;
	padding-top: 1.5vh;
	font-size: 3.5vw;
	align-self: center;
	
}
	
	#closeNav{
		display: contents;
		margin-left: 15vw;
	}
	
	button{
		margin-left: 20vw;
	}
	
	svg {
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5vh;
}


#portrait h3{
	text-align:center;
	padding-top: 2.5vh;
	margin-left: 8vw;
	font-size: 1.5vw;
}
	
	.hero {
	background-image: linear-gradient(rgba(34, 72, 106, 0.6), rgba(0, 0, 0, 0.6)), url("../img/blur-bottle-bright-273238.jpg");
	background-position:bottom;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	height: 95vh;
	width: 98vw;
	margin-left: 0.5vw;
	margin-top: 1.5vh;
	grid-area: header;
}
	
	.heroText {
	margin-left: 40vw;
	margin-top: 20vh;
	
}

.name{
	color:rgb(255,255,255);
	font-weight: 700;
	 margin-left: 4vw;
}
	
	#about h2 {
	color: #d79292;
	padding-left: 2vw;
}

	#about p{
	font-size: 1.5vw;
	text-align: justify;
	padding: 0 2.5vw;
	}
	
	.third-width {
	margin-top: 1.5vh;
	padding-bottom: 10vh;
	height: 45vh;
	background-color: #fdccb4;
	width: 35vw;
	border: 1px solid #fff;
}

.third-width p {
	font-size: 1.2vw;
	text-align: justify;
	padding-left: 6.5vw;
	
}

.third-width h3 {
	font-size: 2vw;
	text-align: center;
	
}
	
	
	#port1 {
	grid-area: port1;
	
}

#samsung {
	background-image: url(../img/samsung.png);
	padding: 30vh 0 10vw 0;
	background-position: center;
	background-repeat: no-repeat;
}

#port2 {
	grid-area: port2;
}

#unplugged {
	background-image:url(../img/unplugged.png);
	padding: 30vh 0 10vw 0;
	background-position: center;
	background-repeat: no-repeat;
}

#port3 {
	grid-area: port3;
	margin-bottom: 18vh;
}

#spiritedAway {
	background-image:url(../img/spirited-away.png);
	padding: 30vh 0 10vw 0;
	background-position: center;
	background-repeat: no-repeat;
}

}

/****** TABLET******/
@media all and (min-width: 768px) and (max-width:939px){
	
	
	
#openNav {
	margin-right: 1.5vw;
	padding-left: 3vw;
	padding-top: 1.5vh;
	font-size: 3.5vw;
}
	
	.gridLayout {
		display: grid;
	grid-template-columns: 99.5vw;
	grid-template-rows: 98vh 70vh repeat(6, 60vh) 20vh;
	grid-template-areas: 
		"header"
		"about"
		"work1"
		"work2"
		"work3"
		"port1"
		"port2"
		"port3"
		"footer";
}
	
	.nav{
		width: 0;
	}
	
	.nav a {
    padding: 1vh 0 9vh 0;
    text-decoration: none;
    font-size: 8vw;
}
	
	.heroText {
		margin-top: 40vh;
	}
	
	header h1 {
		line-height: 8vh;
		font-size: 7.5vw;
	}
	
	#about p {
		line-height: 4vh;
		font-size: 3vw;
		margin-bottom: 4.5vh;
	}
	
	.third-width{
		padding-right: 65vw;
	}
	
	.third-width i{
		font-size: 16vw;
		margin-left: 40vw;
		margin-top: 5vh;
	}
	
	.third-width p{
		text-align: center;
		width: 50.9vw;
		margin-left: 24vw;
		margin-top: 4.5vh;
		padding: 0;
		font-size: 20px;
		line-height: 3.5vh;
	}
	

#samsung {
	background-size: cover;
	padding: 10vh 0 30vw 0;
	margin: 0 10vh;
}


#unplugged {
	background-size: cover;
	padding: 30vh 0 10vw 0;
	margin: 0 10vh;
}


#spiritedAway {
	background-size: cover;
	padding: 10vh 0 30vw 0;
	margin: 0 10vh;
}
	
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
