/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
	font-size: calc(14px + (30 - 14) * ((100vw - 360px) / (1600 - 300)));
	line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

body {
	background-color: #fff;
	color: #5a646f;
	font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER NAV */

.nav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(34, 72, 106, 0.8);
	background-image:  linear-gradient(
      rgba(50, 150, 250, 0.5),
      rgba(215, 146, 146, 0.5)
    ),url(../img/close-up-dark-dark-green-1228133.jpg);
 	background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2.5vh; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

button {
	background-color: transparent;
	border: none;
	font-family: 'Roboto', sans-serif;
	color:#d79292;
	font-size: 1.5vh;
}

#openNav, #closeNav {
	display: none;
}

#openNavMobile {
	position: fixed;
	margin-right: 1.5vw;
	padding-left: 3vw;
	padding-top: 1.5vh;
	font-size: 5.5vw;
}

/* NAV MENU PHOTO */
.menuPhoto {
	width: 50vw;
	margin-left:26vw;
	padding-bottom: 7vh;
	padding-top: 5vh;
}

/* The navigation menu links */
.nav a {
    padding: 4vh 0 2.5vh 1.8vw;
    text-decoration: none;
    font-size: 10vw;
    color: #fff;
    display: block;
    transition: 0.3s;
	text-align-last: center;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
}

/* When you mouse over the navigation links, change their color */
.nav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.nav .closebtn{
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 36px;
}

/* Partial Menu is only for Desktop view*/
#partialMenu{
	display: none;
}

button :hover {
    color: #f1f1f1;
}

.navGrid {
	grid-template-columns: 16.6vh 16.6vh 16.6vh;
	grid-template-rows: 20vh 25vh 15vh 15vh 15vh 5vh;
	grid-template-areas:
		"header header header"
		"about about portrait2 "
		". work1 ."
		". work2 ."
		". work3 ."
		". port1 ."
		". port2 ."
		". port3 ."
		"footer footer footer";
}

.gridLayout {
	display: grid;
	grid-template-columns: 99.5vw;
	grid-template-rows: 98vh 70vh repeat(9, 50vh) 20vh;
	grid-template-areas:
		"header"
		"about"
		"work1"
		"work2"
		"work3"
		"port1"
		"port2"
		"port3"
		"port4"
		"port5"
		"port6"
		"footer";
}

.gridAbout {
	display: grid;
	grid-template-columns: 99.5vw;
	grid-template-rows: 98vh 70vh 20vh;
	grid-template-areas:
		"header"
		"about"
		"footer";
}
/* END HEADER NAV */

/** MAIN HEADER **/

.hero {
	background-image: linear-gradient(rgba(34, 72, 106, 0.6), rgba(0, 0, 0, 0.6)), url("../img/blur-bottle-bright-273238.jpg");
	background-position:bottom;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	height: 95vh;
	width: 100vw;
	grid-area: header;
}

header #mainHeader{
	text-align: center;
}

h2, h3 {
	font-family: 'Roboto', sans-serif;
}

header h1 {
	font-family: 'Montserrat Alternates', sans-serif;
	line-height: 8vh;
	font-size: 7.5vw;
}

/* Front-End hero text */
.front {
	color:rgb(215, 146, 146);
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
}

.heroText {
	margin-left: 40vw;
}

.name{
	color:rgb(255,255,255);
	font-weight: 700;
	 margin-left: 4vw;
	line-height: 7vh;
	margin-top: 0;
	padding-top: 30vh;
}

.topName{
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Montserrat Alternates', sans-serif;
	margin: 0;
	padding-top: 5vh;
	padding-left: 1.5vw;
	font-size: 3vw
}

#down {
		font-size: 8.5vw;
	margin-left: 9.5vw;
	}

/** END MAIN HEADER **/

/****** ABOUT */

#about .full-width  {
	height: auto;
}

#about{
	grid-area: about;
	justify-self: center;
	width: 95vw;
	height: 60vh;
	background-image:
  linear-gradient(
    to bottom,
    hsla(200.57, 10.86%, 39.16%, 0.76) 0%,
    hsla(205.51, 11.99%, 42.75%, 0.759) 8.1%,
    hsla(210.43, 18.67%, 44.41%, 0.756) 15.5%,
    hsla(213.04, 15.4%, 46.99%, 0.751) 22.5%,
    hsla(218.22, 11.83%, 50.31%, 0.744) 29%,
    hsla(220.67, 12.02%, 52.82%, 0.737) 35.3%,
    hsla(232.63, 12.42%, 55.51%, 0.728) 41.2%,
    hsla(252.68, 12.9%, 58.36%, 0.719) 47.1%,
    hsla(311.55, 17.22%, 62.5%, 0.711) 52.9%,
    hsla(322.83, 24.92%, 67.21%, 0.702) 58.8%,
    hsla(329.87, 34.55%, 71.66%, 0.693) 64.7%,
    hsla(334.49, 46.29%, 75.69%, 0.686) 71%,
    hsla(337.57, 59.86%, 79.12%, 0.679) 77.5%,
    hsla(339.57, 73.92%, 81.78%, 0.674) 84.5%,
    hsla(340.71, 85.43%, 83.51%, 0.671) 91.9%,
    hsla(0, 46%, 71%, 0.67) 100%
  )
, url(../img/abstract-background-lowres.png);
		/**border-radius: 100% 500% 500% 600% / 0 0% 600% 600%;**/
		box-shadow: 15px 15px 50px rgba(0,0,0,0.3);
		background-attachment: fixed;
		background-position:bottom;
   		background-repeat: no-repeat;
    	background-size: cover;
}

.skills {
	display: none;
	font-size: 4vw;
	text-align: center;
}

#about h2 {
	color: #fff;
	padding-left: 2vw;
	font-family: 'Montserrat', sans-serif;
	line-height: 8vh;
	font-size: 8vw;
}

#about p{
	line-height: 5vh;
	font-size: 5vw;
	margin-bottom: 4.5vh;
	padding-left: 2vw;
	text-align: justify;
	width: 85vw;
	color: #fff;
}

.photo {
		display: none;
	}

#work .full-width  {
	height: auto;
}

#html, #css, #design {
	margin-top: 0;
}

#html p, #css p, #design p {
	font-size: 4vw;
	text-align: center;
	color: #fff;
	padding-left: 1vw;
	line-height: 4.5vh;
}

#html i, #css i, #design i {
	font-size: 16vw;
	text-align: center;
	margin-left: 40vw;
	margin-top: 3.5vh;
	color: #d79292;
}

#html{
	grid-area: work1;
}

#css {
	grid-area: work2;
}

#design {
	grid-area: work3;
}

.third-width {
	margin-left: 4.5vw;
	padding-bottom: 0;
	background-color: #5a646f;
	width: 90vw;
	border: 1px solid #fff;
	height: 50vh;
}

.third-width2 img{
	width: 85vw;
	margin-left: 8vw;
	margin-bottom: 5vw;
}

.third-width2 p, .third-width2 h3 {
		display: none;
	}

.third-width2 {
	margin-top: 1.5vh;
}

.third-width2 h3 {
	font-size: 2vw;
	text-align: center;
}

#port1 {
	grid-area: port1;
}

#port2 {
	grid-area: port2;
}

#port3 {
	grid-area: port3;
	margin-bottom: 18vh;
}

#port4 {
	grid-area: port4;
	margin-bottom: 18vh;
}

#port5 {
	grid-area: port5;
	margin-bottom: 18vh;
}

#port6 {
	grid-area: port6;
	margin-bottom: 18vh;
}

#portDesc1, #portDesc2, #portDesc3, #portDesc4, #portDesc5, #portDesc6{
	display: none;
}

#contact {
	grid-area: footer;
	background-color: #5a646f;
	width: 95.1vw;
	margin-left: 1.4vw;
}

#contact .full-width {
	justify-self: center;
}

#contact-info{
	margin-left: 18vw;
	padding-top: 8vh;
}

#contact a{
	font-size: 8vw;
	text-decoration: none;
	padding: 0 4vw;
}

a:link, a:visited, a:active {
    color: #fff;
}

/* mouse over link */
a:hover {
    color: #d79292;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen and (min-width:940px) and (-webkit-min-device-pixel-ratio: 1) {
    /* DESKTOP */
body {
  margin: 0;
  padding: 0;
}
	about {
		width: 97%;
		margin: auto 0;
	}

	.gridLayout {
    transition: margin-left .5s;
	display: grid;
	justify-items: stretch;
	grid-template-columns: [c1]2vw [c2]31.6vw [c3]31.6vw [c4]31.6vw [c5]2vw;
	grid-template-rows: [r1]98.5vh [r2]90vh repeat(3, 70vh) [r5]8.5vh;
	grid-template-areas:
		"header header header header header"
		". about about about ."
		". port1 port2 port3 ."
		". port4 port5 port6."
		". work1 work2 work3 ."
		"footer footer footer footer footer";
	}

	#html, #css, #design {
	margin-top: 14.6vh;
	padding-bottom: 10vh;
	height: 45vh;
	background-color: #5a646f;
	width: 32vw;
	margin-left: 1.3vw;
	border: 1px solid #fff;
	padding-right: 0;
	}

/*** NAVIGATION CHANGES ***/
	.nav {
    height: 100%; /* 100% Full-height */
    width: 2.5%; /* 0 width - change this with JavaScript */
	background-color: #fff;
	background-image: linear-gradient(
      rgba(50, 150, 250, 0.5),
      rgba(215, 146, 146, 0.5)
    );
	}

	.oldNav {
    background-color: rgba(34, 72, 106, 0.8);
	background-image:  linear-gradient(
      rgba(50, 150, 250, 0.5),
      rgba(215, 146, 146, 0.5)
    ),url(../img/close-up-dark-dark-green-low-res.jpg);
 	background-repeat: no-repeat;
    background-size: cover;
	}

	#fullMenu {
		display: none;
		padding-top: 18vh;
	}

	#partialMenu{
		display: block;
		padding-top: 18.2vh;
	}

	#partialMenu a{
		margin: 0;
		padding-left: 0;
		font-size: 1.5vw;
		color: #5a646f;
	}

	#partialMenu a:hover{
		color: #fff;
		font-size: 1.8vw;
	}

	.nav a {
    padding: 6.5vh 0 0 1.8vw;
    text-decoration: none;
    font-size: 3vw;
    color: #fff;
    display: block;
    transition: 0.3s;
	text-align-last: center;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 600;
	}


	.nav #closeNav{
    position: absolute;
    top: 30px;
    left: 10px;
    font-size: 36px;
	}

	#openNavMobile, #closeNavMobile{
		display:none;
	}

	#openNav {
	display: contents;
	align-self: center;
	}

	#openNav i:hover{
		color: #fdccb4;
		transition: 1s;
		cursor: pointer;
	}

	#openNav i {
		margin-left: 0.4vw;
		margin-top: 1.5vh;
		position: fixed;
		z-index: 4;
		font-size: 1.8vw;
		color: #fff;
	}

	#closeNav{
		display: contents;
		margin-left: 15vw;
	}

	#closeNav i {
		margin-left: 16vw;
	}

	.menuPhoto{
		display: none;
	}


/*** END NAVIGATION CHANGES ***/

	.hero {
	background-image: linear-gradient(rgba(34, 72, 106, 0.6), rgba(0, 0, 0, 0.8)), url("../img/blur-bottle-bright-low-res.jpg");
	background-position:bottom;
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	height: 99vh;
	width: 95vw;
	margin-left: 3.2vw;
	margin-top: 1.5vh;
	grid-area: header;
	}

	header h1 {
	font-size: 4.5vw;
	font-weight: 200;
	line-height: 10vh;
	width: 35vw;
	}

	.heroText {
	margin-left: 40vw;
	padding-top: 9vh;
	margin-top: 0;
	width: 50vw;
	}

	.name{
	color:rgb(255,255,255);
	font-weight: 700;
	 margin-left: 4vw;
	line-height: 10vh;
	}

	#down{
	font-size: 3vw;
	margin-left: 10vw;
	margin-top: 4vh;
	}

	#down:hover{
	margin-top: 9vh;
	transition: 0.8s;
	}

	#about {
		width: 94.5vw;
		height: auto;
		margin-top: 5vh;
		margin-bottom: 3vh;
		margin-left: 2vw;
		background-color: #d79292;
		display: flex;
		background-image:
  linear-gradient(
    to bottom,
    hsla(220, 15.08%, 35.1%, 0.81) 0%,
    hsla(220.99, 14.71%, 35.24%, 0.809) 8.1%,
    hsla(224.03, 13.67%, 35.65%, 0.806) 15.5%,
    hsla(229.55, 12.12%, 36.28%, 0.801) 22.5%,
    hsla(238.74, 10.19%, 37.09%, 0.794) 29%,
    hsla(251.52, 10.14%, 37.32%, 0.787) 35.3%,
    hsla(265.04, 10.34%, 37.48%, 0.778) 41.2%,
    hsla(278.68, 10.54%, 37.66%, 0.769) 47.1%,
    hsla(291.89, 10.75%, 37.83%, 0.761) 52.9%,
    hsla(303.99, 11.65%, 38.3%, 0.752) 58.8%,
    hsla(312.29, 13.63%, 39.27%, 0.743) 64.7%,
    hsla(317.73, 15.34%, 40.14%, 0.736) 71%,
    hsla(321.36, 16.74%, 40.88%, 0.729) 77.5%,
    hsla(323.7, 17.79%, 41.46%, 0.724) 84.5%,
    hsla(325.05, 18.46%, 41.83%, 0.721) 91.9%,
    hsla(325.5, 18.69%, 41.96%, 0.72) 100%
  )
, url(../img/abstract-background.jpg);
		box-shadow: 15px 15px 50px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0px 10px 20px 8px rgba(204,219,227,1);
		-moz-box-shadow: 0px 10px 20px 8px rgba(204,219,227,1);
		box-shadow: 0px 32px 20px -9px rgba(95,130,148,0.2), inset 1px -39px 61px -8px rgba(255,255,255,0.45);
		background-attachment: fixed;
		background-position:bottom;
   		background-repeat: no-repeat;
    	background-size: cover;
		}

	.aboutTitle{
	width: 30vw;

	}

	#about h2 {
	color: #d79292;
	padding-left: 5vw;
	font-size: 5vw;
	width: 45vw;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: bolder;
	}

	#about p{
	color: #fff;
	line-height: 7.5vh;
	font-size: 2.6vw;
	padding-left:5vw;
	margin-bottom: 4.5vh;
	text-align: justify;
	font-weight:700;
	width: 45vw;
	font-family: 'Montserrat', sans-serif;
	}

	#skillsSection{
	margin-left: 28vw;
	padding-top: 7vh;
	}

	.skills {
	display: none;
	font-size: 1.5vw;
	text-align: center;
	color: #fff;
	line-height: 30vh;
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 900;
	}

	.photo {
	display: block;
	padding-left: 30vw;
	order: 2;
	width: 30vw;
	height: auto;
	max-height: 45vh;
	margin-top: 15vh;
	margin-right: 20vw;
	}

	.third-width {
	margin-top: 14.6vh;
	padding-bottom: 10vh;
	height: 45vh;
	background-color: #5a646f;
	width: 32vw;
	margin-left: 3vw;
	border: 1px solid #fff;
	padding-right: 0;
	}

	.third-width p {
	font-size: 1.2vw;
	text-align: justify;
	padding-left: 6.5vw;
	color:#fff;
	}

	.third-width h3 {
	margin: 0;
	font-size: 2vw;
	text-align: center;
	color: #d79292;
	}

	.third-width i{
	font-size: 5.8vw;
	margin-left: 0;
	margin-top: 2.5;
	}

	#html p, #css p, #design p {
	font-size: 1.2vw;
	text-align: center;
	color:#fff;
	}

	#html i, #css i, #design i {
	font-size: 5.8vw;
	margin-left: 0;
	margin-top: 2.5;
	text-align: center;
	}


	#port1 {
	grid-area: port1;

	}

	#port1, #port2, #port3{
		padding-top: 10vh;
	}

	.third-width2 img {
	margin-left: 0;
	width: 23vw;
	max-width: 50vw;
	opacity: 0.8;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	margin-top: 5vh;
	}

	.third-width2 img:hover{
	opacity: 1;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	}

	#samsung {
	padding: 0 0 10vw 0;
	background-position: center;
	background-repeat: no-repeat;
	}

	#port2 {
	grid-area: port2;
	}

	#unplugged {
	padding: 0 0 10vw 0;
	background-position: center;
	background-repeat: no-repeat;
	}

	#port3 {
	grid-area: port3;
	margin-bottom: 18vh;
	height: 68.2vh;
	}

	#spiritedAway {
	padding: 0 0 10vw 0;
	background-position: center;
	background-repeat: no-repeat;
	}

	.third-width2{
	padding-left: 3.5vw;
	}

	.third-width2 p{
		width: 50vw;
		padding-left: 4vw;
		text-align: center;
	}

	.third-width2 p, .third-width2 h3{
		padding-top: 4vh;
	}

	.third-width2 p, .third-width2 h3 {
		display: none;
	}

	#portDesc1, #portDesc2, #portDesc3, #portDesc4, #portDesc5, #portDesc6{
	display: none;
}
	#contact{
		margin-left: 3.4vw;
	}
	#contact-info{
		padding: 2.3vh 0 0 8.5vw;
	}

	#contact a{
	font-size: 2vw;
	text-decoration: none;
	padding: 0 4vw;
	}

}

/****** TABLET******/
@media screen and (min-width: 768px) and (max-width: 939px) and (orientation:landscape){

	#openNavMobile {
	position: fixed;
	margin-right: 1.5vw;
	padding-left: 3vw;
	padding-top: 1.5vh;
	font-size: 3.5vw;
	}

	.topName{
		padding-top: 5vh;
	}

	.gridLayout {
		display: grid;
	grid-template-columns: 99.5vw;
	grid-template-rows: 98vh 70vh repeat(9, 60vh) 15vh;
	grid-template-areas:
		"header"
		"about"
		"work1"
		"work2"
		"work3"
		"port1"
		"port2"
		"port3"
		"port4"
		"port5"
		"port6"
		"footer";
	}

	nav{
		background-image:  linear-gradient(
      rgba(50, 150, 250, 0.5),
      rgba(215, 146, 146, 0.5)
    ),url(../img/close-up-dark-dark-green-low-res.jpg);
	}

	.nav{
		width: 0;
	}

	.nav a {
    padding: 2vh 0 9vh 0;
    text-decoration: none;
    font-size: 3.8vw;
}
	#partialMenu{
		display: none;
	}

	.menuPhoto{
    width: 25vw;
		margin-left: 32vw;
		padding-bottom: 3vh;
	}

	.hero{
		height: 100vh;
	}

	.heroText {
		padding-top: 10vh;
	}

	header h1 {
		line-height: 10vh;
		font-size: 6vw;
	}

  #down {
    font-size: 5vw;
    padding-left: 6vw;
  }
/*** ABOUT SECTION ***/
	#about{
		margin-top: 5vh;
		margin-bottom: 5vh;
	}

	#about h2 {
		padding-left: 6vw;
    font-size: 6vw;
	}

	#about p {
		padding-left: 6vw;
		line-height: 6vh;
		font-size: 3.5vw;
		margin-bottom: 4.5vh;
	}

	.photo {/*** PHOTO ONLY FOR DESKTOP ***/
		display: none;
	}
/*** GOALS/WORK ETHIC DESCRIPTION ***/
	#html, #css, #design {
	margin-top: 0;
  height: auto;
	}

	#html p, #css p, #design p {
	font-size: 2.8vw;
	padding-left: 1vw;
	line-height: 4.8vh;
	}

	#html i, #css i, #design i {
	font-size: 9vw;
	}

	#html{
	grid-area: work1;
	}

	#css {
	grid-area: work2;
	}

	#design {
	grid-area: work3;
	}

	.third-width {
	margin-left: 4.5vw;
	padding-bottom: 0;
	width: 90vw;
	height: 50vh;
	}
/*** PORTFOLIO SECTION ***/
	.third-width2 img{
	width: 60vw;
	padding-left: 12vw;
	margin-bottom: 5vw;
	}

	.third-width2 p, .third-width2 h3 {
		display: none;
	}

	.third-width2 {
	margin-top: 1.5vh;
	}

	.third-width2 h3 {
	font-size: 2vw;
	text-align: center;
	}

	.third-width2 p, .third-width2 h3 {
		display: none;
	}
/*** CONTACT SECTION ***/
	#contact {
		margin-left: 2.5vw;
	}

	#contact-info {
		padding-top: 5vh;
    padding-left: 2vw;
	}

  #contact-info a {
    font-size: 5vw;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
